::-webkit-scrollbar {
    width: .4em;
    height: .4em;
}

::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 2px;
    height: 0;
    width: .25em;
}

::-webkit-scrollbar-thumb:hover {
    transition: ease .4s
}

html {
    scroll-behavior: auto;
}

.card {
    margin: 8px auto;
}

.btn {
    border-radius: 6px !important;
}

.form-control, .rounded, .card {
    border-radius: 8px !important;
}

.form-control {
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
}

.form-control:hover,
.form-control:focus,
.form-control:active,
.navbar-toggler,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--bs-success);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.ratio {
    position: static;
}

.ratio::before {
    z-index: 0;
}