.card {
    margin: 8px auto;
}

.btn {
    border-radius: 6px !important;
}

.form-control, .rounded, .card {
    border-radius: 8px !important;
}

.form-control {
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
}

.form-control:hover,
.form-control:focus,
.form-control:active,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--bs-success);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}